langchain==0.3.25
langchain-core==0.3.61
langchain-community==0.0.35
langchain-text-splitters==0.3.8

sentence-transformers==2.2.2
huggingface_hub==0.14.1
faiss-cpu==1.7.4
numpy==1.24.4

python-dotenv==1.0.1
google-generativeai==0.3.2
