langchain==0.1.17
langchain-community==0.0.35
langchain-core==0.1.47
google-cloud-aiplatform>=1.38
google-generativeai==0.4.1
sentence-transformers==2.2.2
transformers==4.37.2
torch==2.1.0
faiss-cpu==1.7.4
streamlit==1.33.0
python-dotenv==1.0.1
